<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <% @products.each_with_index do |product, index| %>
    <% cache [product, "v2"], expires_in: 1.hour do %>
      <%= render partial: "product", locals: { product: product, position: (index + 1) } %>
    <% end %>
  <% end %>
</table>

<style>
  table, th, td {
  border: 1px solid black;
}
</style>